{% capture date %}{{ page.next.date }}{{ post.next.date }}{% endcapture %}
{% capture date_formatted %}{{ page.next.date_formatted }}{{ post.next.date_formatted }}{% endcapture %}
{% capture has_date %}{{ date | size }}{% endcapture %}
{% capture formatted_day %}{{ date | date: "%d" }}{% endcapture %}
{% capture formatted_month %}{{ date | date: "%b" }}{% endcapture %}
{% capture formatted_year %}{{ date | date: "%Y" }}{% endcapture %}

{% capture updated %}{{ page.updated }}{{ post.updated }}{% endcapture %}
{% capture updated_formatted %}{{ page.updated_formatted }}{{ post.updated_formatted }}{% endcapture %}
{% capture was_updated %}{{ updated | size }}{% endcapture %}

{% if has_date != '0' %}
{% capture time %}<time class="timestamp" datetime="{{ date | datetime | date_to_xmlschema }}" pubdate{% if updated %} data-updated="true"{% endif %}>
    <span class='day'> {{ formatted_day }}</span>
    <span class='month'> {{ formatted_month }}</span>
    <span class='year'> {{ formatted_year }}</span>
  </time>{% endcapture %}
{% endif %}

{% if was_updated != '0' %}
  {% capture updated %}<section><time datetime="{{ updated | datetime | date_to_xmlschema }}" class="updated">Updated {{ updated_formatted }}</time></section>{% endcapture %}

{% else %}{% assign updated = false %}{% endif %}
