---
layout: default
footer: false
sidebar: false
---

<div id="blog-archives" class="category">
{% for post in site.categories[page.category] %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  <div class="block"><h2 class='wrapper'>{{ year }}</h2></div>
{% endunless %}
  <div class="artwork">
    {% if post.title == site.categories[page.category].first.title && post.date == site.categories[page.category].first.date %}
      <img src="{{ post.image }}" />
    {% endif %}
  <section class="title">
    <div class="wrapper">
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}"><span>{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</span></a></h1><br />
      <p class="meta">{% include post/date.html %}{{ time }} <span>By {{ post.author }}</span> <img src="{{ post.avatar }}"/> </p><br/>
    </div>
  </section>
 </div>
 <div class="home headline block">
   <p class="wrapper">{{ post.headline }}</p>
   <p class='wrapper categories'>Posted in
    {{ post.categories | category_links }}
   </p>
 </div>
{% endfor %}
