{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body id="blog" {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header id="b-header" role="banner">{% include header.html %}</header>
  <!-- <nav role="navigation">{% include navigation.html %}</nav> -->
  {{ content | expand_urls: root_url }}
  <footer id="footer" role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
