---
layout: default
single: true
---

<div id="articles">

  <article class="hentry" role="article" class="post clearfix">
    {% include article.html %}
  </article>

  <!--{% if site.disqus_short_name and page.comments == true %}
    <section class="comments block">
      <a class="show-comments wrapper" href="#">Show comments</a>
      <div id="disqus_thread" class="wrapper" aria-live="polite">{% include post/disqus_thread.html %}</div>
    </section>
  {% endif %}-->

  <div class="pages block">
    <div class="wrapper">
      {% if page.previous.url %}
        <div class="half left">
          <p>previous post</p>
          <h3><a class="basic-alignment" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">{{ page.previous.title }}</a></h3>
          <p class="meta">{% include post/date-previous.html %}{{ time }} <span>By {{ page.previous.author }}</span> <img src="{{ page.previous.avatar }}"/> </p>
        </div>
      {% endif %}
      {% if page.next.url %}
        <div class="half right">
          <p>next post</p>
          <h3><a class="basic-alignment" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{ page.next.title }}</a></h3>
          <p class="meta">{% include post/date-next.html %}{{ time }} <span>By {{ page.next.author }}</span> <img src="{{ page.next.avatar }}"/> </p>
        </div>
      {% endif %}
    </div>
  </div>

</div>
