
    <div class="wrapper">
      <p class="headline"><img src="/images/logo.png" class="footer-logo"/>Siyelo is a web development consultancy based in South Africa and Macedonia. We create bespoke web and mobile apps. Interested in working with us? <a href="http://siyelo.com/" target="_blank">Contact us anytime.</a></p>

      <ul class="clearfix">
        <li class="third">
          <a title="Email us - we want to hear from you" class="marker" href="mailto:info@siyelo.com">@</a>
          <span>Contact</span>
          <ul>
            <li>phone</li>
            <li>+27214612050</li>
            <li>email:</li>
            <li>
              <a title="Email us - we want to hear from you" href="mailto:info@siyelo.com">info@siyelo.com</a>
            </li>
          </ul>
        </li>
        <li class="third">
          <a title="Siyelo office in Cape Town" class="marker" target="_blank" href="http://g.co/maps/7xbpg">A</a>
          <span>Cape Town</span>
          <ul>
            <li>Suite #1, 4th Floor</li>
            <li>79 Roeland Street</li>
            <li>Cape Town, 8001</li>
            <li>South Africa</li>
          </ul>
        </li>
        <li class="third">
          <a title="Siyelo office in Skopje" class="marker" target="_blank" href="http://g.co/maps/ssf42">B</a>
          <span>Skopje</span>
          <ul>
            <li>Suite #5, 1st Floor</li>
            <li>Marx &amp; Engels 7</li>
            <li>Skopje</li>
            <li>Macedonia</li>
          </ul>
        </li>
      </ul>
      <div id="b-footer">

        <a class="left back_to_top" href="#blog">Back to top</a>
        <div class="right">
          <p class="social">
            <a title="Siyelo on Twitter" href="http://twitter.com/#!/siyelo">
              <i class="fa fa-twitter"></i>
            </a>
            <a title="Siyelo on Github" href="http://github.com/siyelo">
              <i class="fa fa-github"></i>
            </a>
            <a title="Siyelo on Google+" href="https://plus.google.com/112139864815147836343" rel="publisher">
              <i class="fa fa-google-plus"></i>
            </a>

            <a title="Siyelo blog RSS feed" href="http://blog.siyelo.com/rss.xml">
              <i class="fa fa-rss"></i>
            </a>

          </p>
          <a class="cc" title="Creative Commons - some rights reserved" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png"></a>
        </div>
      </div>
    </div>
