<footer id="footer">
    <div class="wrapper">
      <ul class="clearfix">
        <li class="fourth">
          <a title="Email us - we want to hear from you" class="marker" href="mailto:info@siyelo.com">@</a>
          <span>Contact</span>
          <ul>
            <li>phone</li>
            <li>+27214612050</li>
            <li>email:</li>
            <li>
              <a title="Email us - we want to hear from you" href="mailto:info@siyelo.com">info@siyelo.com</a>
            </li>
          </ul>
        </li>
        <li class="fourth">
          <a title="Siyelo office in Cape Town" class="marker" target="_blank" href="http://g.co/maps/7xbpg">A</a>
          <span>Cape Town</span>
          <ul>
            <li>Suite #1, 4th Floor</li>
            <li>79 Roeland Street</li>
            <li>Cape Town, 8001</li>
            <li>South Africa</li>
          </ul>
        </li>
        <li class="fourth">
          <a title="Siyelo office in Skopje" class="marker" target="_blank" href="http://g.co/maps/ssf42">B</a>
          <span>Skopje</span>
          <ul>
            <li>Suite #5, 1st Floor</li>
            <li>Marx &amp; Engels 7</li>
            <li>Skopje</li>
            <li>Macedonia</li>
          </ul>
        </li>
        <li class="fourth social">
          <a title="Siyelo on Twitter" href="http://twitter.com/#!/siyelo"><img alt="Siyelo on Twitter" src="http://siyelo.com/images/icons/twitter.png"></a>
          <a title="Siyelo on Github" href="http://github.com/siyelo"><img alt="Siyelo on Github" src="http://siyelo.com/images/icons/github.png"></a>
          <a title="Siyelo blog RSS feed" href="http://blog.siyelo.com/rss.xml"><img alt="Siyelo blog RSS feed" src="http://siyelo.com/images/icons/rss.png"></a>
        </li>
      </ul>
      <aside>
        <a class="left back_to_top" href="#header">Back to top</a>
        <div class="right">
          <a title="Creative Commons - some rights reserved" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png"></a>
        </div>
      </aside>
    </div>
  </footer>