
<h1 id="b-logo" class="left">
  <a href="/"><img title="Siyelo" src="images/orbital.svg" alt="Siyelo logo"></a>
</h1>
<ul class="b-nav"></ul>
<!--<ul class="right horizontal" id="contact">
  <li><a href="mailto:info@siyelo.com" title="Email us - we want to hear from you">info@siyelo.com</a></li>
  <li>
  <p>+27 21 461 2050</p>
  </li>
</ul>
<nav class="right" id="main_nav">
<ul class="horizontal">
  <li><a href="http://www.siyelo.com">Home</a></li>
  <li><a href="http://www.siyelo.com/services">Services</a></li>
  <li><a href="http://www.siyelo.com/projects">Projects</a></li>
  <li><a href="http://www.siyelo.com/team">Team</a></li>
  <li><a href="/" class="active">Blog</a></li>
</ul>
</nav>-->
