{% unless page.no_header %}
  <header>
    {% if index %}
      <div class="artwork">
        {% if post.title == paginator.posts.first.title && post.date == paginator.posts.first.date %}
          <img id='parallax' src="{{ post.image }}" />
        {% endif %}
      <section class="title">
        <div class="wrapper">
          <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}"><span>{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</span></a></h1>
          <p class="meta">{% include post/date.html %}{{ time }} <span>By {{ post.author }}</span> <img src="{{ post.avatar }}"/> </p><br/>
        </div>
      </section>
     </div>
     <div class="home headline block">
       <p class="wrapper">{{ post.headline }}</p>
       <p class='categories wrapper'>
        {{ post.categories | category_links }}
       </p>
     </div>
    {% else %}
      <div class="artwork"><img id='parallax' src="{{ page.image }}" />
      <section class="title">
        <div class="wrapper">
          <h1 class="entry-title"><span>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</span></h1>
          <p class="meta">{% include post/date.html %}{{ time }} <span>By {{ page.author }}</span> <img src="{{ page.avatar }}"/> </p>
        </div>
      </section>
      </div>
    {% endif %}

    <!-- {% unless page.meta == false %} -->
    <!--   <p class="meta"> -->
    <!--     {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %} -->
    <!--      | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a> -->
    <!--     {% endif %} -->
    <!--   </p> -->
    <!-- {% endunless %} -->
  </header>
{% endunless %}

{% unless index %}
    <div class="entry-content block">
      <div class="wrapper">
        <p class="headline">{{ page.headline }}</p>
        {{ content }}
        <footer class="b-footer block">
          <div class="wrapper">

            <div class="meta-data">
              <!--<p class="meta">{% include post/date.html %}{{ time }} <span>By {{ page.author }}</span> <img src="{{ page.avatar }}"/> </p>
              <span> in </span>
              {% include post/categories.html %}-->

              {% unless page.sharing == false %}
                {% include post/sharing.html %}
              {% endunless %}
            </div>

          </div>
        </footer>
      </div>
    </div>
{% endunless %}

