---
layout: default
---

<div id="articles">

  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    {% if post.title == paginator.posts.first.title && post.date == paginator.posts.first.date %}
    <article class="b-post first">
    {% else %}
    <article class="b-post list">
    {% endif %}
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination block">
    <div class="wrapper">
      {% if paginator.next_page %}
        <a class="prev" href="{{paginator.next_page}}">Older</a>
      {% endif %}
      <a href="/blog/archives">Blog Archives</a>
      {% if paginator.previous_page %}
      <a class="next" href="{{paginator.previous_page}}">Newer</a>
      {% endif %}
    </div>
  </div>
</div>
